spawn-at-startup "~/.local/bin/startup.sh"
environment {
    DISPLAY ":0"
}
input {
    keyboard {
        xkb {
            layout "de"
            options "ctrl:nocaps"
        }
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
        scroll-method "two-finger"
        disabled-on-external-mouse
    }
    mouse {
        accel-speed 0.2
        accel-profile "flat"
    }
    trackpoint {
        off
    }
}
output "eDP-1" {
    mode "2256x1504@59.999001"
    scale 2
    transform "normal"
    focus-at-startup
    position x=0 y=0
    background-color "#999"
    backdrop-color "#000"
}
output "PNP(AOC) 27B3CF2 AUEQ29A002606" {
    mode "1920x1080@100.000"
    scale 1
    variable-refresh-rate on-demand=true
    transform "normal"
    position x=-208 y=-1080
    background-color "#999"
    backdrop-color "#000"
}
output "DP-1" {
    mode "1920x1080@100.000"
    scale 1
    transform "normal"
    position x=-208 y=-1080
    background-color "#999"
    backdrop-color "#000"
}
layout {
    gaps 8 
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
}
cursor {
    xcursor-size 22
    hide-when-typing
    hide-after-inactive-ms 1000
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}
window-rule {
    border {
        off
    }
    focus-ring {
        off
    }
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
    }
}
binds {
    Alt+Shift+B                 { show-hotkey-overlay; }
    Alt+Shift+Return            { spawn "gnome-terminal"; }
    Alt+P                       { spawn "wmenu-run"; }
    Mod+L                       { spawn "swaylock" "-f"; }
    XF86AudioRaiseVolume        allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume        allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute               allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86MonBrightnessUp         allow-when-locked=true { spawn "brightnessctl" "--exponent=8" "set" "+5%"; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn "brightnessctl" "--exponent=8" "set" "5%-"; }
    Alt+Shift+C                 { close-window; }
    Alt+H                       { focus-column-left; }
    Alt+J                       { focus-window-or-workspace-down; }
    Alt+K                       { focus-window-or-workspace-up; }
    Alt+L                       { focus-column-right; }
    Alt+Shift+H                 { move-column-left; }
    Alt+Shift+L                 { move-column-right; }
    Alt+Shift+J                 { move-column-to-workspace-down; }
    Alt+Shift+K                 { move-column-to-workspace-up; }
    Alt+Comma                   { focus-monitor-up; }
    Alt+Period                  { focus-monitor-down; }
    Alt+Shift+Comma             { move-window-to-monitor-up; }
    Alt+Shift+Period            { move-window-to-monitor-down; }
    Alt+Shift+F                 { maximize-column; }
    Alt+f                       { toggle-window-floating; }
    Mod+Shift+V                 { switch-focus-between-floating-and-tiling; }
    Print                       { spawn "wayshot.sh"; }
    Mod+Shift+S                 { spawn "wayshot.sh"; }
    Alt+Shift+Q                 { quit; }
    Mod+Shift+P                 { power-off-monitors; }
    Alt+Shift+R                 { switch-preset-column-width; }
    Mod+Shift+Period            { spawn "emojipicker.sh"; }
}
